# Airflow Variables
SOURCE_URL=https://samples.adsbexchange.com/readsb-hist
S3_BUCKET=your-s3-bucket-name

# AWS Credentials (Replace with your own)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_SESSION_TOKEN=your-aws-session-token  # Only needed for temporary credentials 